.infotext
{
	font-family: "Verdana", Sans-serif;
	font-size: 10px;
	padding: 4px;
}
.infotext span
{
	font-family: "Verdana", Sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.infohead
{
	font-size: 14px;
	font-family: Serif;
	font-weight: bold;
	background-color: #f1f1f1;
}		
.infobox
{
	outline-style: double;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 3px;
}

.topinfo
{
	font-size: 20px;
}

.pokebox
{
	font-size: 12px;
}


