#table_shell{
margin: auto;
width: 420px;}

table{border-collapse: collapse;}

#fixed_table{
background-color: gray;
width: 418px;
margin-top: 10px;}

#fixed_table thead tr th
{border: 1px solid black;
padding-left:0;
padding-right:0;}

#scroll_table{
display: block;
background-color: white;
width: 418px;
max-height: 455px;
overflow-y: scroll;
overflow-x: hidden;
border-bottom: 1px solid black;
}

#scroll_table tbody tr td{
border: 1px solid black;
border-top-style: none;
padding-left:0;
padding-right:0;
}

#scroll_table tbody{
width: 100%;
display: inline-table;
}

#scroll_table tbody tr td:nth-child(1),
#fixed_table thead tr th:nth-child(1)
{width:139px;}
#scroll_table tbody tr td:nth-child(2),
#fixed_table thead tr th:nth-child(2)
{width:77px;}
#scroll_table tbody tr td:nth-child(3)
{padding-left: 4px;
text-align: left;}


.bottombutton
{
    height: 30px;
    width: 80px;
    font-size: 16px;
    text-align: center;
    background-color: lightseagreen;
    padding-top: 5px;
    border-radius: 10px;
}

.bottombutton:hover
{
	cursor: pointer;
	background-color: darkturquoise;
}

#prevbutton
{
	display: inline-block;
	float: left;
}
#nextbutton
{
	display: inline-block;
	float: right;
}

.leftbottombutton
{
	display: inline-block;
	float: left;
	margin-right: 20px;
}