.topinfo
{
	font-size: 20px;
	width: 100%;
	text-align: center;
}

.pokebox
{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	text-align: center;
	font-size: 12px;
}

.pokebox img
{
	height: 160px;
	width: 160px;
}

.pokebox img, p
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

.romancebox
{
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	height: 230px;
	width: 430px;
	border: 4px groove grey;
	border-radius: 10px;
}
.plusbox 
{padding-top: 75px;
font-weight: bold;
font-size: 40px;}

.romancebox .pokebox, .plusbox
{
	float: left;
	margin: 0;
}
.romancebox span
{margin-left:40px;
font-weight: bold;}

.topinfo span
{
	margin-left: auto;
	margin-right: auto;
}